@mixin flexbox($align:false, $justify:false, $fldirection:false){
      display: flex;

      @if $align{
        align-items: $align;
      }@else{
        align-items: center;
      }

      @if $justify{
        justify-content: $justify;
      }@else{
        justify-content: space-between;
      }

      @if $fldirection{
        flex-direction: $fldirection;
      }@else{
        flex-direction: column;
      }
}

@mixin btn($br-color, $t-color){
    border: 2px solid $br-color;
    border-radius: 24px;
    font-family: 'Livvic';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $t-color;
    cursor: pointer;
    padding: 9px 33px 11px 32px;
    background-color: rgba(240, 248, 255, 0);
}