@use'../mixins';
@use'../variables';

header {
    background-image: url(../images/bg-pink.png);
    background-repeat: no-repeat;
    background-position-x: right;
background-position-y: bottom;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
background-image: url(../images/bg-pink2x.png);
background-repeat: no-repeat;
background-position-x: right;
background-position-y: bottom;
}
    padding: 73px 0 120px 0;
    background-color: variables.$main-color;
    .bg-col{
        background-image: url(../images/darkvector.png);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx){
            background-image: url(../../images/darkvector2x.png);
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
        }
    }
    nav{
        @include mixins.flexbox(center, space-between);
        .navbar{
            @include mixins.flexbox(center, space-between);
            min-width: 80%;
            &__menu{
                @include mixins.flexbox(center, space-between);
                column-gap: 40px;
                &-link{
                    padding: 10px 0;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: variables.$secondary-color;
                }
                &-link:hover{
                    color: variables.$primary-color;
                }
            }
            &__btn{
                @include mixins.btn(variables.$secondary-color, variables.$secondary-color);
            }
            &__btn:hover{
                transition: 0.3s;
                color: variables.$footer-bg;
                background-color: variables.$secondary-color;
                border: 2px solid #ffffff00;
            }
        }
    }
    .hero{
        margin-top: 120px;
        @include mixins.flexbox(flex-start, space-between);
        &__description{
            &-title{
                font-weight: 700;
                font-size: 64px;
                line-height: 100px;
            }
            &-subtitle{
                margin-top: 16px;
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
                color: variables.$primary-color;
            }
            .small-cards {
                padding-bottom: 140px;
                margin-top: 32px;
                row-gap: 32px;
                @include mixins.flexbox(end, flex-start, column);
            }
            
            .small-card1 {
                @include mixins.flexbox(center);
                column-gap: 23px;
            }
            
            .texts-card_small p {
                width: 447px;
                font-size: 15px;
                line-height: 25px;
                color: variables.$secondary-color;
                opacity: 0.8;
                padding-top: 16px;
            }
            
            .border-radius__img {
                position: relative;
                border-radius: 50%;
                min-width: 56px;
                height: 56px;
                background: #2C6269;
            }
            
            .border-radius__img img {
                position: absolute;
                right: 16px;
                bottom: 16px;
            }
        }
        &__validation{
            @include mixins.flexbox(flex-start, flex-start, column);
            min-width: 540px;
            input{
            outline: none;
            padding-bottom: 16px;
            min-width: 100%;
            margin-top: 24px;
            background-color: #e0e0e000;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid variables.$secondary-color;
            }
            ::placeholder{
                font-weight: 600;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: -0.115385px;
                opacity: 0.6;
                color: variables.$secondary-color;
            }
            textarea{
                outline: none;
                padding-bottom: 58px;
                min-width: 100%;
                margin-top: 24px;
                background-color: #e0e0e000;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid variables.$secondary-color;
            }
            button{
                margin-top: 24px;
                padding: 9px 32px 11px;
                border: none;
                min-width: 123px;
                background: variables.$secondary-color;
                border: 2px solid variables.$secondary-color;
                border-radius: 24px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: variables.$deep-jungle;
                cursor: pointer;
            }
        }
    }
}